.logo-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 0px;
	z-index: 1;
}
.logo-img {
	padding-top: 0px;
	width: 35%;
	transition: 0.4s ease-in-out;
	@include breakpoint (sm) {
		padding-top: 0px;
		margin-left: -200px;
		width: 200px;
	}
	@include breakpoint (md) {
		padding-top: 0px;
		margin-left: 5px;
		width: 300px;
	}
	@include breakpoint (lg) {
		padding-top: -0px;
		margin-left: 8.5px;
		width: 320px;
	}
}

.kill-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.home-header {
	width: 100%;
	min-height: 500px;
	background: #222;
}
.homeowner-hero {
	min-height: 565px;
	width: 100%;
	background: #222;
	background-image: url('../../../../uploads/2020/08/homeowner-banner-image.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/* ======================== NEW PROMO PAGE ===============================*/
.promo-hero {
	display: block;
	min-height: 500px;
	width: 100%;
	background: #222;
	background-image: url('../../../../uploads/2021/05/header-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.promotions-content {
	display: block;
	width: 100%;
	min-height: 1000px;
}
.hvac-container {
	background: #DCE0EA;
}
/* Main h1 heading for all PAGES and POSTS */
.main-heading-h1 {
	font-size: 2.5rem;
	font-weight: bold;
}
/* A wrapper for your images to transition */
.transition-wrapper {
  position:relative;
  display: block;
  height: 177px;
  cursor: pointer;
}

/* Position each image and apply a transition */
.transition-wrapper img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

/* Automatically hide an image during hover (to reveal the other one) */
.transition-wrapper img:last-of-type:hover {
  opacity:0;
}
.weekly-specials {
	width: 100%;
	min-height: 300px;
}
.blue-text {
	color: #1F508B;
}
.red-text {
	color: #B6332C;
}



/* ======================== END NEW PROMO PAGE ===============================*/

.homeowner-content {
	width: 100%;
	min-height: 350px;
	background: #f4f4f4; 
	margin-bottom: -15px;
}
.commercial {
	position: relative;
	padding-top: 150px;
	background: #222;
	background-image: url('../../../../uploads/2020/07/splash-commercial.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
	min-height: 500px;
	transition: 0.3s ease-in-out;
	z-index: 0;
}
.homeowner {
	position: relative;
	padding-top: 150px;
	background: #222;
	background-image: url('../../../../uploads/2020/07/splash-homeowner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
	min-height: 500px;
	transition: 0.3s ease-in-out;
}
.home-builders {
	position: relative;
	padding-top: 150px;
	background: #222;
	background-image: url('../../../../uploads/2021/01/home-builders-cover-photo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
	min-height: 500px;
	transition: 0.3s ease-in-out;
}
.main-heading {
	position: relative;
	font-size: 2.5rem;
	color: #fff;
	transition: 0.3s ease-in-out;
	&:hover {
		text-decoration: none;
		color: #11aeff;
		transition: 0.3s ease-in-out;
	}
}
.hamburger {
	position: relative;
	@include breakpoint (xs) {
		margin-top: -70px;
	}
	@include breakpoint (sm) {
		margin-top: 0px;
	}
}
.title-wrapper {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: #3a3435;
	clear: both;
	position: relative;
	overflow: hidden;
	min-height: 289px;

  	&:before {
  		content: "";
  		background: rgba(17, 174, 255, 0.2);
  		position: absolute;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		z-index: 0;
  	}
}
.blog-header {
	position: relative;
	display: block;
	
	&:after {
		content: '';
		height: 3px;
		background: #11aeff;
		display: block;
		width: 45%;
		margin: auto;
		margin-top: 15px;
	}
}
.blog-sign-up {
	width: 100%;
	background: #11aeff;
	min-height: 400px;
}
.affiliates {
	width: 100%;
	min-height: 380px;
	background: #fff;
}
.footer {
	min-height: 780px;
	width: 100%;
	background: #000;
}
.statement {
	position: fixed;
	width: 100%;
	min-height: 45px;
	padding-top: 10px;
	background-color: #EBB232;
	z-index: 10;
	padding-left: 15px;
	padding-right: 15px;
}
.essential {
	color: #ff0000;
}
.phone-numbers {
	background: #f8f9fa;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	color: #af2525;
	font-size: 14px;
}
.foot-heading {
	color: #11aeff;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding-top: 10px;
}
.newsletter-sign-up {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1.8rem;
}
.mission {
	min-height: 420px;
	background: #f4f4f4;
	width: 100%;
}
.main-header-home {
	position: relative;
	display: block;
	
	&:after {
		content: '';
		height: 3px;
		background: #11aeff;
		display: block;
		width: 50%;
		margin: auto;
		margin-top: 25px;
	}
}
.main-header-blog {
	position: relative;
	display: block;
	
	&:after {
		content: '';
		height: 3px;
		background: #11aeff;
		display: block;
		width: 60%;
		margin-top: 25px;
	}
}
.main-header-hero {
	position: relative;
	display: block;
	
	&:after {
		content: '';
		height: 3px;
		background: #11aeff;
		display: block;
		width: 200px;
		margin: auto;
		margin-top: 25px;
		margin-bottom: 2rem;
	}
}
.main-header-left {
	position: relative;
	display: block;
	
	&:after {
		content: '';
		height: 3px;
		background: #11aeff;
		display: block;
		width: 200px;
		margin-top: 25px;
		margin-bottom: 2rem;
	}
}
#scroll {
  position: fixed;
  right: 15px;
  bottom: 80px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #11aeff;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  transition: 0.2s ease-in-out;
  z-index: 10;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  &:hover {
    background-color: #e74c3c;
    transition: 0.2s ease-in-out;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
  }
}
.who-we-are {
	width: 100%;
	display: block;
}
.career-about {
	padding: 5rem;
}
.plumber-img {
	min-height: 700px;
	display: block;
	width: 100%;
	background-image: url('../../../../uploads/2022/03/pexels-anil-karakaya-6419128.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.trophy-img {
	min-height: 700px;
	display: block;
	width: 100%;
	background-image: url('../../../../uploads/2022/03/pexels-nataliya-vaitkevich-6532362.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.wwa-text {
	display: block;
	padding: 15px;
	@include breakpoint (md) {
		padding: 100px;
	}
}
.geo-map {
	min-height: 315px;
	width: 100%;
	background-image: url('../../../../uploads/2021/04/2021-map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
}
.blog-desc {
	width: 100%;
	min-height: 160px;
	background: #f4f4f4;
}
.page-link-active {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #11aeff;
  border: 1px solid #dee2e6;

  &:hover {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #11aeff;
    border: 1px solid #dee2e6;
  }
}
.excerpt-card {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 15px;
	margin-bottom: 15px;
}
.contact {
	width: 100%;
	min-height: 205px;
	background: #11aeff;
}
.commercial-header {
	width: 100%;
	min-height: 460px;
	background: #ccc;
}
.prop-own {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background-image: url('../../../../uploads/2022/03/AdobeStock_312384506-test-1-scaled.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.regional-builders {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../../uploads/2021/03/regional-natl-builders.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	
}
.custom-builders {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../../uploads/2021/03/custom-home-builders.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.promo {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 460px;
	background-position:center center;
	border: 1.5px solid #fff;
}
.gen-contract {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background-image: url('../../../../uploads/2022/03/AdobeStock_231473096-test-1-scaled.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.home-build {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background-image: url('../../../../uploads/2020/07/commercial-persona-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.managers {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background-image: url('../../../../uploads/2022/03/AdobeStock_179917813-test-1-scaled.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.build-services {
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 200px;
	min-height: 460px;
	background-image: url('../../../../uploads/2020/07/home-construction-blue-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}
.related-posts {
	min-height: 500px;
	width: 100%;
	background: #fff;
}
.reviews {
	width: 100%;
	min-height: 380px;
	background: #f4f4f4;
	padding-top: 1.5rem;
}
.about-statement {
	width: 100%;
	min-height: 600px;
	background: #f4f4f4;
}
.career-hero {
	width: 100%;
	min-height: 350px;
	background: #11aeff;
}
.core-value {
	min-height: 300px;
	background: #004482;
}
a.career-link {
	color: #222;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	&:hover {
		color: #11aeff;
		transition: 0.3s ease-in-out;
		text-decoration: underline;
	}
}
.career-header {
	background: #af2625;
}
.baltimoreCareer,
.delawareCareer,
.executiveCareer,
.kopCareer,
.njCareer,
.phillyCareer,
.southDelawareCareer,
.yorkCareer,
 {
	cursor: pointer;
}
.career-highlight-color {
	border: 2px solid #11aeff;
}
.career-values {
	width: 100%;
	min-height: 150px;
	position: relative;
	background: #004482;
}
.values-title {
	color: #11aeff;
}
.integrity,
.family {
	border-right: none;
	border-bottom: 4px solid #fff;
	@include breakpoint (md) {
		border-right: 4px solid #fff;
	}
}
.courage {
	border-right: none;
	border-bottom: 4px solid #fff;
	@include breakpoint (md) {
		border-right: 0px solid #fff;
	}
}
.sub-nav a {
	font-size: 0.8rem;
	font-weight: bold;
	color: #222;
}
.schedule-btn-lg {
	background:#cd2930;
	color:#fff;
	font-size:1.7em;
	border:1px solid #fff;
}
.schedule-btn-md {
	background:#cd2930;
	color:#fff;
	font-size:1.5em;
	position:relative;
	border:1px solid #fff;
}
.img-hover-zoom {
  	height: 300px; /* [1.1] Set it as per your need */
  	overflow: visible; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  	transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  	transform: scale(1.5);
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
	border-color: #EBB232;
	background: #EBB232;
}
.wpcf7 form.spam .wpcf7-response-output {
	color: #fff;
	border-color: #ff3636;
	background: #ff3636;
}


.dropdown-menu.columns-3 {
	min-width: 720px;
}
.multi-column-dropdown {
	list-style: none;
  	margin: 0px;
  	padding: 0px;
}
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
.finance-cta {
	position: absolute;
	width: 100%;
	min-height: 30px;
	bottom: 0;
}
.finance-button {
	text-align: center;
	margin-bottom: 15px;
	@include breakpoint (md) {
		float: right;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}
.sobieski-signature {
	color: #fff;
	width: 100%;
	min-height: 250px;
	background: #1f508b;
}
.spp-cookie {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 20px;
	z-index: 1;
	margin-bottom:-20px;
}
.alert-blue {
	background: #1f508b;
	color: #fff;
}
